name: Update Proxy List

on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Repoyu Çek (Checkout)
        uses: actions/checkout@v3

      - name: Python Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kütüphaneleri Yükle
        run: |
          pip install -r requirements.txt

      - name: Scraper'ı Çalıştır
        run: python scraper.py

      - name: Değişiklikleri Commit ve Push Yap
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add proxies/*.txt
          # Eğer değişiklik yoksa hata vermemesi için mantık:
          git commit -m "Otomatik Proxy Güncellemesi - $(date)" || echo "Değişiklik yok"
          git push
